@model WebApplication1lab.Models.Purchase
@{
    ViewData["Title"] = "Success";
}

<h1>Підтвердження замовлення</h1>

<p>Ім'я': @Model.Person</p>
<p>Адреса: @Model.Address</p>
<p>Дякую за замовлення</p>
